<footer class="pt-5">
  <div class="container m-auto ">
      <div class="row ms-4 pb-3">
        <div class="col-4">
          <h2>LOCATION</h2>
          <h4>2215 John Daniel Drive</h4>
          <h6>Clark, MO 65243</h6>
        </div>
        <div class="col-4">
          <h2 class="d-flex justify-content-center align-items-center text-center">AROUND THE WEB</h2>
          <div class="d-flex justify-content-center align-items-center text-center">
            <i _ngcontent-tis-c21="" class="fa-brands fa-facebook mx-1  d-flex justify-content-center align-items-center text-center"></i>
            <i _ngcontent-tis-c21="" class="fa-brands fa-twitter mx-1  d-flex justify-content-center align-items-center text-center"></i>
            <i _ngcontent-tis-c21="" class="fa-brands fa-linkedin mx-1  d-flex justify-content-center align-items-center text-center"></i>
            <i _ngcontent-tis-c21="" class="fa-solid fa-globe mx-1 icon  d-flex justify-content-center align-items-center text-center"></i>

          </div>
        </div>
         <div class="col-4">
          <h2 class="d-flex justify-content-center align-items-center text-center">LOCATION</h2>
          <h6 class="d-flex justify-content-center align-items-center text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</h6>
        </div>
      </div>
  </div>
  <div class="endfotter h-50 d-flex justify-content-center align-items-center text-center">
      <h5 class=" text-center mt-4">Copyright © Your Website 2021</h5>
  </div>
</footer>
