<section class="contact ">
  <div class="">
      <div class="row mx-auto max-w">
          <div class="col-md-12 mb-5">
              <div>
                  <div class="text-center d-flex flex-wrap justify-content-center w-100">
                      <h2 class="w-100 fw-bold ">CONATCT SECTION</h2>
                      <div class="icon-contact"><i class="fa-solid fa-star mb-2"></i></div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="inputs">
                  <input  placeholder="UserName" class="rounded mb-5 w-100" type="text" >
                  <input  placeholder="UserAge" class="rounded mb-5 w-100" type="number">
                  <input  placeholder="UserEmail" class="rounded mb-5 w-100" type="email">
                  <input  placeholder="UserPassword" class="rounded mb-5 w-100" type="password">
              </div>
              <button class="btn bg-su" type="submit fw-bold ">Send Message</button>
          </div>
      </div>
  </div>
</section>
